.groups *{
  padding: 0px;
}

.group {
  font-weight: bold;
  vertical-align: top;
  text-align: right;
}

#darktoggle {
  position: absolute;
  right: 0px;
  bottom: 0px;
  position: sticky;
}

.darkmode {
  background-color: #181a1b;
  color: white;
}

body {
  font-family: "Noto Sans";
  margin:0;
}
